{% extends 'base.html.twig' %}
{% import "/macros/macros.html.twig" as macros %}

{% block body %}

    <main class="container">
    <div id="meal-plan" class="meal-plan-app">
                <div>
                    <div id="meal-plan-header" class="pad-small">
                        <a href="{{ path('recipe_generator') }}" class="next-plan next-plan-mine">{{ 'home_page.startNext'|trans }}</a>

                        <h1>
                            <span id="meal-plan-title">{{ 'home_page.allRecipes'|trans }}</span>
                        </h1>
                    </div><!-- meal-plan-header -->

                    <div id="meal-plan-content" class="clearfix">
                        <div id="meals" class="pad-small">
                            {% if recipes is defined %}
                                {% for recipe in recipes %}
                                    {{ macros.card(
                                        recipe.imageUrl,
                                        recipe.title,
                                        recipe.id) }}
                                {% endfor %}
                            {% endif %}
                            </div>
                    </div>
                </div>
        <div >
            {{ knp_pagination_render(recipes) }}
        </div>
            </div>
    {% endblock %}