{% extends 'base.html.twig' %}

{% block title %}{{ 'registration_form.register_title'|trans }}{% endblock %}

{% block main %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{{ form_start(registrationForm) }}
<div class="example-wrapper">
    <div class="form__field">
        {{ form_label(registrationForm.username) }}
    {{ form_widget(registrationForm.username) }}
    </div>
    <div>
        {{ form_label(registrationForm.email) }}
    {{ form_widget(registrationForm.email) }}
    </div>
    {{ form_label(registrationForm.password) }}
    {{ form_widget(registrationForm.password) }}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <input type="submit" value="{{ 'registration_form.register_button'|trans }}" class="btn btn-success"/>
        </div>
    </div>
</div>

    {{ form_end(registrationForm) }}
{% endblock %}
