{% extends 'baseNoHeader.html.twig' %}

{% block body %}
    {{ form_start(registrationForm) }}

    <body class="authentication">
    <div id="authentication">
        <div id="auth-header">
        </div>
        <div id="auth-well">
            <div id="auth-well-header">

            </div>
            <div id="auth-well-content">
                <div id="signup">
                    <h1>
                        {{ 'registration_form.create'|trans }}</h1>
                    <input name="utf8" type="hidden" value="✓">

                    <div class="form-group first-name">
                        <label for="registration_first_name">
                            {{ 'registration_form.whatFirstName'|trans }}</label>
                        <div class="form__error">
                            {{ form_errors(registrationForm.firstname) }}
                        </div>
                        <div>
                        {{ form_widget(registrationForm.firstname) }}
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="registration_email">
                            {{ 'registration_form.enterEmail'|trans }}</label>
                        <div class="form__error">
                            {{ form_errors(registrationForm.email) }}
                        </div>
                        <div>
                            {{ form_widget(registrationForm.email) }}
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="registration_password">
                            {{ 'registration_form.createPassword'|trans }}</label>
                        <div class="form__error">
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>
                        <div>
                        {{ form_widget(registrationForm.plainPassword) }}
                        </div>
                    </div>

                </div>

                <input type="submit" name="commit" value="{{ 'registration_form.register_button'|trans }}"
                       class="ml-btn-success btn-lg disable-on-click">
            </div>
        </div>
        <div id="auth-footer">
            {{'registration_form.old'|trans}} <a href="{{path('login')}}">
                {{'registration_form.logIn'|trans}}</a>
        </div>
    </div>

    </body>

    {{ form_end(registrationForm) }}
{% endblock %}

