{% extends 'base.html.twig' %}

{% block title %}Add New Recipe{% endblock %}

{% block body %}
    <div class="container">
        <span id="meal-plan-title"> <h1> Add a new recipe! </h1></span>
        {{ form_start(form) }}
        <div class="form-group">
            <div>
                <label for="add_title">
                    Title</label>
                {{ form_errors(form.title) }}
                {{ form_widget(form.title, {
                    attr: {
                        'placeholder': 'Enter recipe title',
                    }
                }) }}
                {{ form_help(form.title) }}
            </div>


            <div>
                <label for="add_description">
                    Description</label>
                {{ form_errors(form.description) }}
                {{ form_widget(form.description, {
                    attr: {
                        'placeholder': 'Enter recipe description',
                    }
                }) }}
                {{ form_help(form.description) }}
                {% do form.description.setRendered %}
            </div>
            <div>
                <label for="add_image_url">
                    Image</label>
                {{ form_errors(form.image) }}
                {{ form_widget(form.image, {
                    attr: {
                        'placeholder': 'Select a recipe image',
                    }
                }) }}
                {{ form_help(form.image) }}
            </div>
        </div>

        <label class="sections"> <b> Ingredients</b></label>
        <ul class="ingredients list-without-bullets" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
            {% for ingredient in form.ingredients %}
                <li>{{ form_row(ingredient) }}</li>
            {% endfor %}
        </ul>

        <label class="sections"> <b> Tags </b></label>
        <ul class="tags list-without-bullets" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
            {% for tag in form.tags %}
                <li>{{ form_row(tag) }}</li>
            {% endfor %}
        </ul>

        <div class="wrapper">
            <button type="submit" class="next-plan-mine align-content-center">{{ 'generated_recipe.submit'|trans }}</button>
        </div>
        {% do form.save.setRendered %}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>

        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });

        var $collectionHolder;

        var $addIngredientButton = $('<button type="button" class="btn-secondary btn">Add new ingredient</button>');
        var $newLinkLi = $('<div><br><hr></div>').append($addIngredientButton);

        jQuery(document).ready(function() {

            $collectionHolder = $('ul.ingredients');

            $collectionHolder.append($newLinkLi);

            $collectionHolder.find('li').each(function() {
                addIngredientFormDeleteLink($(this));
            });

            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            if ($collectionHolder.data('index') === 1) {
                addIngredientForm($collectionHolder, $newLinkLi);
            }

            $addIngredientButton.on('click', function(e) {
                addIngredientForm($collectionHolder, $newLinkLi);
            });
        });

        function addIngredientForm($collectionHolder, $newLinkLi) {

            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            var newForm = prototype;

            newForm = newForm.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            if (index !== 1) {
                addIngredientFormDeleteLink($newFormLi);
            }
        }

        function addIngredientFormDeleteLink($ingredientFormLi) {
            var $removeFormButton = $('<button type="button" class="btn-danger btn">Delete this ingredient</button>');
            $ingredientFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                $ingredientFormLi.remove();
            });
        }

        var $tagsCollectionHolder;

        var $addTagButton = $('<button type="button" class="btn-secondary btn">Add a tag</button>');
        var $newTagLinkLi = $('<div><br><hr></div>').append($addTagButton);

        jQuery(document).ready(function() {

            $tagsCollectionHolder = $('ul.tags');

            $tagsCollectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });

            $tagsCollectionHolder.append($newTagLinkLi);

            $tagsCollectionHolder.data('index', $tagsCollectionHolder.find(':input').length);

            if ($tagsCollectionHolder.data('index') === 1) {
                addTagForm($tagsCollectionHolder, $newTagLinkLi);
            }

            $addTagButton.on('click', function(e) {
                addTagForm($tagsCollectionHolder, $newTagLinkLi);
            });
        });
        function addTagForm($tagsCollectionHolder, $newTagLinkLi) {

            var prototype = $tagsCollectionHolder.data('prototype');

            var index = $tagsCollectionHolder.data('index');

            var newForm = prototype;

            newForm = newForm.replace(/__name__/g, index);

            $tagsCollectionHolder.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);
            $newTagLinkLi.before($newFormLi);

            if (index !== 1) {
                addTagFormDeleteLink($newFormLi);
            }
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button type="button" class="btn-danger btn">Delete this tag</button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                $tagFormLi.remove();
            });
        }
    </script>

{% endblock %}
