{% extends 'base.html.twig' %}
{% import "/macros/macros.html.twig" as macros %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>{{ 'generated_recipe.tags'|trans }}</h1>
        </div>

        {{ form_start(form) }}

        {% set counter = 1 %}
        {% for item in form.title %}
                {{ form_label(item) }}
                {{ form_errors(item) }}
                <div class="form-check">
                    <label class="control checkbox">
                    <input type="checkbox" id="{{item.vars.id}}"  name="recipe_generator[title][]" class="form-check-input" value="{{item.vars.value}}">
                        <span class="control-indicator"></span>
                        <label class="form-check-label" for="{{item.vars.id}}"></label>
                    </label>
                </div>
            <h3 class="my-tag-name">{{item.vars.label}}</h3>
                {{ form_help(item) }}
                {% do item.setRendered %}
        {% endfor %}

        <button type="submit" class="next-plan-mine">{{ 'generated_recipe.submit'|trans }}</button>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
