{% macro card(imageUrl, name, id) %}

    <div class="recipe-thumb">
        <div class="content">
            <a href="{{ path('single_recipe', {id: id}) }}">
                <img class="image" src="{{ asset('uploads/images/' ~ imageUrl)}}">
            </a>
            <div class="details">
                <h2 class="title">
                    <a href="{{ path('single_recipe', {id: id}) }}">{{ name }} </a>
                </h2>

                <div class="action-bar">
                    <div class="action-bar-right"></div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro ingredient(name, quantity) %}
    <li class="grocery-item">
        <label class="control checkbox">
            <input type="checkbox">
            <span class="control-indicator"></span>
            <span class="quantity"> {{ quantity }}</span>
        </label>
        <span class="ingredient">
            <span>{{name}}</span>
        </span>
    </li>
{% endmacro %}

{% macro ingredientInSingleRecipe(name, quantity) %}
    <li class="line-item" >
        <div class="quantity">{{quantity}}</div>
        <div class="ingredient">{{name}}</div>
    </li>
{% endmacro %}

{% macro singleRecipe(recipe, ingredients) %}
    {% import _self as macros %}
    <header class="clearfix" id="main-header"></header>
    <main class="container">
        <div class="recipe">
            <div class="header">
                <a class="next-plan next-plan-mine" href="{{ path('home') }}">← Back Home</a>
            </div>
            <div class="content">
                <div class="content-left">
                    <div class="pad-small">
                        <h2>
                            {{recipe.title}}
                        </h2>
                        <div class="description-bar">
                        </div>
                    </div>
                    <img class="image" src={{asset('uploads/images/' ~ recipe.imageUrl)}}>
                </div>
                <div class="content-right">
                    <ul class="tabs nav nav-tabs">
                        <li class="active">
                            <a>
                                "Cook!
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <ul>
                                {% if ingredients is defined %}
                                    {{ ingredients[0] }}
                                    {% for item in ingredients %}
                                        {{ macros.ingredientInSingleRecipe(item.name, item.quantity) }}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="tab-pane active">
                            <ul>
                                <li class="instruction ng-scope">
                                    <div class="content">
                                        <div class="primary ng-binding">
                                                {{ recipe.description}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endmacro %}