<div id={{ "ajax-results" ~  id }}>
<button class="ajax ml-btn-default" onclick="callAjax({{ id }})">Reroll</button>
    <div class="content">
        <a href="{{ path('single_recipe', {id: id}) }}">
            <img class="image" src="{{ uploaded_asset(imageUrl)}}">
        </a>
        <div class="details">
            <h2 class="title">
                <a href="{{ path('single_recipe', {id: id}) }}">
                    {{ name|length > 60 ? name|slice(0, 60) ~ '...' : name  }}
                </a>
            </h2>

            <div class="details">
                <div class="action-bar-right"></div>
            </div>
        </div>
    </div>
</div>
