{% extends 'base.html.twig' %}

{% block title %}Hello RandomRecipeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ total }}
    {{ randomNr }}


    <ul>
        {% for recipe in recipes %}
            <li>
                <div>
                    {{ recipe.title }}
                    {{ recipe.description }}
                    <ul>
                        {% for post in posts %}
                            {% if recipe.title == post.recipe.title %}
                            <li>
                                {{ post.measure.title }}
                                {{ post.amount }}
                                <div>
                                    {{ post.ingredient.title }}
                                </div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
