{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
        {% for recipeName in recipeNames %}
            <li>
                <div>
                    {{ recipeName.title }}
                    {{ recipeName.description }}
                    <ul>
                        {% for recipe in recipes %}
                            {% if recipeName.title == recipe.recipe.title %}
                            <li>
                                {{ recipe.ingredient.title }}
                                {{ recipe.amount }}
                                {{ recipe.measure.title }}
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
    {{ 'random_recipe.allIngredients'|trans }}
    <ul>
        <li>
            {% for summedRecipe in summedRecipes %}
            <div>
                {{ summedRecipe.total }}
                {{ summedRecipe.0.measure.title }}
                {{ summedRecipe.0.ingredient.title }}
            </div>
        {% endfor %}
        </li>
    </ul>

</div>
{% endblock %}
